<template>
  <div class="relative">
    <button
      @click="toggleSelect"
      class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      type="button"
    >
      <slot name="selected"></slot>
    </button>
    <!-- Dropdown menu -->
    <div
      v-bind:class="{ hidden: !showSelect, block: showSelect }"
      class="z-10 w-full bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
      style="
        position: absolute;
        inset: auto auto 0px 0px;
        margin: 0px;
        transform: translate(0, 100%);
      "
    >
      <ul
        class="space-y-1 text-sm text-gray-700 dark:text-gray-200"
        aria-labelledby="dropdownRadioButton"
      >
        <li v-for="item in selectItems" :key="item" @click="selectItem(item)">
          <div
            class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600"
          >
            <span
              class="ml-2 w-full text-sm font-medium text-gray-900 rounded dark:text-gray-300"
              >{{ item }}</span
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "DropDown",
  data() {
    return {
      showSelect: false,
    };
  },
  props: ["selectItems"],
  methods: {
    toggleSelect() {
      this.showSelect = !this.showSelect;
    },
    selectItem(item) {
      this.$emit("select", item);
      this.showSelect = false;
    },
  },
};
</script>

<style lang="scss" scoped></style>
