<template>
  <div>
    <label
      class="mt-6 text-left block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      for="file_input"
      >Upload file</label
    >
    <input
      class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      aria-describedby="file_input_help"
      id="file_input"
      type="file"
    />
    <p
      class="text-left mt-1 text-sm text-gray-500 dark:text-gray-300"
      id="file_input_help"
    >
      Accepts CSV.
    </p>
  </div>
</template>

<script>
export default {
  name: "UploadInput",
};
</script>

<style lang="scss" scoped></style>
