<template>
  <div class="overflow-x-auto shadow-md transition-all">
    <slot name="header"></slot>

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th v-for="header in headers" scope="col" class="p-4" :key="header">
            {{ header }}
          </th>
        </tr>
      </thead>
      <slot name="table">
        <tbody>
          <tr
            v-for="member in members"
            :key="member.id"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td class="p-4 w-4">
              {{ member.id }}
            </td>
            <th
              scope="row"
              class="flex items-center py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white"
            >
              <img
                class="w-10 h-10 rounded-full"
                :src="'https://i.pravatar.cc/300?id=' + member.id"
                alt="Jese image"
              />
              <div class="pl-3">
                <div class="text-base font-semibold">{{ member.name }}</div>
                <div class="font-normal text-gray-500">
                  {{ member.email }}
                </div>
              </div>
            </th>

            <td class="py-4 px-6">{{ member.time_joined }}</td>
            <td class="py-4 px-6">
              <check-circle :check="member.filled_survey" />
            </td>
            <td class="py-4 px-6">
              <check-circle :check="member.recommended" />
            </td>
            <td class="py-4 px-6">
              <check-circle :check="member.accepted_plan" />
            </td>
            <td class="py-4 px-6">
              {{ member.logged_trips }}
            </td>
            <td class="py-4 px-6">
              <a
                href="#"
                class="font-medium text-green-600 dark:text-green-500 hover:underline"
                ><svg
                  class="w-6 h-6 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                  ></path></svg
                ><svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  ></path></svg
              ></a>
            </td>
          </tr>
        </tbody>
      </slot>
      <slot name="foot" />
    </table>
  </div>
</template>

<script>
import CheckCircle from "../utils/CheckCircle.vue";
export default {
  components: { CheckCircle },
  props: ["members", "headers"],
};
</script>

<style lang="scss" scoped></style>
