<template>
  <ul v-if="totalPages" class="inline-flex items-center -space-x-px">
    <li>
      <button
        :disabled="currentPage == 1"
        @click="$emit('set-page', Math.max(currentPage - 1, 1))"
        class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <span class="sr-only">Previous</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </li>
    <li v-for="page in pagesList" :key="page">
      <button
        @click="$emit('set-page', page)"
        :class="[
          page === currentPage
            ? 'z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white'
            : 'py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white',
        ]"
      >
        {{ page }}
      </button>
    </li>

    <li v-if="!(pagesList[pagesList.length - 1] >= totalPages - 1)">
      <span
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >...</span
      >
    </li>
    <li v-if="currentPage != totalPages">
      <button
        @click="$emit('set-page', totalPages)"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        {{ totalPages }}
      </button>
    </li>
    <li>
      <button
        :disabled="currentPage == totalPages"
        @click="$emit('set-page', Math.min(currentPage + 1, totalPages))"
        class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <span class="sr-only">Next</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </li>
  </ul>
</template>

<script>
export default {
  props: ["currentPage", "totalPages"],
  computed: {
    pagesList() {
      const number_pages = Math.min(3, Math.max(this.totalPages - 1, 1));

      if (number_pages)
        return new Array(number_pages).fill(0).map((_, i) => {
          return Math.max(this.currentPage - 2, 1) + i;
        });
      else return [];
    },
  },
  name: "TablePagination",
};
</script>

<style lang="scss" scoped></style>
