<template>
  <nav
    class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900 shadow-md"
  >
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="/" class="flex items-center">
        <img
          src="@/assets/logo.png"
          class="mr-3 h-6 sm:h-9"
          alt="Flowbite Logo"
        />
      </a>
    </div>
  </nav>
</template>

<script>
export default {
  name: "NavBar",
};
</script>
