<template>
  <aside
    class="md:w-64 bg-gray-700 text-white md:min-w-[16em] self-stretch"
    aria-label="Sidebar"
  >
    <div class="overflow-y-auto bg-gray-700 dark:bg-gray-800">
      <ul class="">
        <li>
          <router-link
            activeClass="bg-green-500"
            to="/dashboard"
            class="flex items-center p-2 py-4 text-base font-normal text-gray-200 dark:text-white hover:bg-gray-600 hover:text-gray-50 dark:hover:bg-gray-700"
          >
            <svg
              aria-hidden="true"
              class="w-6 h-6 text-gray-50 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
              <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
            </svg>
            <span class="ml-5">Dashboard</span>
          </router-link>
        </li>

        <li>
          <router-link
            activeClass="bg-green-500"
            to="/members"
            class="flex items-center p-2 py-4 text-base font-normal text-gray-200 dark:text-white hover:bg-gray-600 hover:text-gray-50 dark:hover:bg-gray-700"
          >
            <svg
              aria-hidden="true"
              class="flex-shrink-0 w-6 h-6 text-gray-50 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="ml-5">Members</span>
          </router-link>
        </li>

        <li>
          <router-link
            activeClass="bg-green-500"
            to="/stats"
            class="flex items-center p-2 py-4 text-base font-normal text-gray-200 dark:text-white hover:bg-gray-600 hover:text-gray-50 dark:hover:bg-gray-700"
          >
            <svg
              aria-hidden="true"
              class="flex-shrink-0 w-6 h-6 text-gray-50 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="ml-5 whitespace-nowrap">Stats</span>
          </router-link>
        </li>
      </ul>
    </div>
  </aside>
</template>

<script>
export default {
  name: "SideBar",
};
</script>

<style></style>
