<template>
  <div class="w-full">
    <members-table :members="items" :headers="headers">
      <template v-slot:header>
        <nav
          class="flex justify-between items-center pt-4"
          aria-label="Table navigation"
        >
          <div>
            <drop-down :selectItems="rowsPerPageItems" @select="setRowPerPage"
              ><template v-slot:selected>
                Show {{ rowsPerPage }} entries
                <svg
                  class="ml-2 w-3 h-3"
                  aria-hidden="true"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  ></path>
                </svg> </template
            ></drop-down>
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
              >Showing
              <span class="font-semibold text-gray-900 dark:text-white">{{
                showingText
              }}</span>
              of
              <span class="font-semibold text-gray-900 dark:text-white">{{
                totalItems
              }}</span></span
            >
          </div>
          <div class="pb-4 bg-white dark:bg-gray-900">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative mt-1">
              <div
                class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
              >
                <svg
                  class="w-5 h-5 text-gray-500 dark:text-gray-400"
                  aria-hidden="true"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </div>
              <input
                v-model="query"
                @change="searchQuery"
                type="text"
                id="table-search"
                class="block p-2 pl-10 w-80 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search for items"
              />
            </div>
          </div>
          <table-pagination
            :currentPage="currentPage"
            :totalPages="totalPages"
            @set-page="setPage"
          />
        </nav>
      </template>
      <template v-slot:table v-if="loading">
        <tr
          v-for="member in [1, 2, 3]"
          :key="member"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <td v-for="header in headers" :key="header" class="p-4 w-4">
            <div class="flex items-center space-x-2 w-full">
              <div
                class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-32"
              ></div>

              <div
                class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-full"
              ></div>
            </div>
          </td>
        </tr>
      </template>
      <template v-slot:foot
        ><tfoot class="bg-green-600 w-full text-white text-sm">
          <tr class="font-semibold dark:text-white">
            <th class="py-3 px-6"></th>

            <th scope="row" class="py-3 px-6">Total</th>
            <td class="py-3 px-1 text-sm">
              <div class="flex flex-col justify-between items-stretch">
                <div class="flex items-center gap-1">
                  <span
                    ><svg
                      class="w-4 h-4"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path></svg
                  ></span>
                  {{ joinedCount }} Joined
                </div>
                <div class="flex items-baseline gap-1">
                  <span
                    ><svg
                      class="w-3 h-3"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 384 512"
                    >
                      <path
                        d="M0 32C0 14.3 14.3 0 32 0H64 320h32c17.7 0 32 14.3 32 32s-14.3 32-32 32V75c0 42.4-16.9 83.1-46.9 113.1L237.3 256l67.9 67.9c30 30 46.9 70.7 46.9 113.1v11c17.7 0 32 14.3 32 32s-14.3 32-32 32H320 64 32c-17.7 0-32-14.3-32-32s14.3-32 32-32V437c0-42.4 16.9-83.1 46.9-113.1L146.7 256 78.9 188.1C48.9 158.1 32 117.4 32 75V64C14.3 64 0 49.7 0 32zM96 64V75c0 25.5 10.1 49.9 28.1 67.9L192 210.7l67.9-67.9c18-18 28.1-42.4 28.1-67.9V64H96zm0 384H288V437c0-25.5-10.1-49.9-28.1-67.9L192 301.3l-67.9 67.9c-18 18-28.1 42.4-28.1 67.9v11z"
                      /></svg
                  ></span>
                  {{ nonjoinedCount }} Pending
                </div>
              </div>
            </td>
            <td class="py-3 px-1 text-sm">
              <div class="flex flex-col justify-between items-stretch">
                <div class="flex items-center gap-1">
                  <span
                    ><svg
                      class="w-4 h-4"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path></svg
                  ></span>
                  {{ filledSurveyCount }} Completed
                </div>
                <div class="flex items-baseline gap-1">
                  <span
                    ><svg
                      class="w-4 h-4"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path></svg
                  ></span>
                  {{ nonfilledSurveyCount }} Incomplete
                </div>
              </div>
            </td>
            <td class="py-3 px-1">
              <div class="flex flex-col justify-between items-stretch">
                <div class="flex items-center gap-1">
                  <span
                    ><svg
                      class="w-4 h-4"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path></svg
                  ></span>
                  {{ recommendedCount }} Recieved
                </div>
                <div class="flex items-baseline gap-1">
                  <span
                    ><svg
                      class="w-3 h-3"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 384 512"
                    >
                      <path
                        d="M0 32C0 14.3 14.3 0 32 0H64 320h32c17.7 0 32 14.3 32 32s-14.3 32-32 32V75c0 42.4-16.9 83.1-46.9 113.1L237.3 256l67.9 67.9c30 30 46.9 70.7 46.9 113.1v11c17.7 0 32 14.3 32 32s-14.3 32-32 32H320 64 32c-17.7 0-32-14.3-32-32s14.3-32 32-32V437c0-42.4 16.9-83.1 46.9-113.1L146.7 256 78.9 188.1C48.9 158.1 32 117.4 32 75V64C14.3 64 0 49.7 0 32zM96 64V75c0 25.5 10.1 49.9 28.1 67.9L192 210.7l67.9-67.9c18-18 28.1-42.4 28.1-67.9V64H96zm0 384H288V437c0-25.5-10.1-49.9-28.1-67.9L192 301.3l-67.9 67.9c-18 18-28.1 42.4-28.1 67.9v11z"
                      /></svg
                  ></span>
                  {{ nonrecommendedCount }} Pending
                </div>
              </div>
            </td>
            <td class="py-3 px-1">
              <div class="flex flex-col justify-between items-stretch">
                <div class="flex items-center gap-1">
                  <span
                    ><svg
                      class="w-4 h-4"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path></svg
                  ></span>
                  {{ acceptedPlanCount }} accepted
                </div>
                <div class="flex items-baseline gap-1">
                  <span
                    ><svg
                      class="w-4 h-4"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path></svg
                  ></span>
                  {{ nonacceptedPlanCount }} declined
                </div>
              </div>
            </td>
            <td class="py-3 px-1">
              <div class="flex flex-col justify-between items-stretch">
                <div class="flex items-center gap-1">
                  <span
                    ><svg
                      class="w-4 h-4"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path></svg
                  ></span>
                  {{ loggedTripsCount }} Logged
                </div>
              </div>
            </td>
            <td class="py-3 px-1"></td>
          </tr></tfoot
      ></template>
    </members-table>
    <custom-card class="items-stretch flex flex-col">
      <template v-slot:header
        ><h3 class="text-xl p-3 text-left">Send Invitation</h3></template
      >
      <template v-slot:body>
        <mail-input />
      </template>

      <template v-slot:footer>
        <custom-btn class="self-start">
          <template v-slot:icon>
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
              ></path></svg
          ></template>
          <template v-slot:text> Download template </template>
        </custom-btn>
        <upload-input />
      </template>
    </custom-card>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
//import CircleSpinner from "@/components/utils/CircleSpinner.vue";
import TablePagination from "@/components/tables/TablePagination.vue";
import MembersTable from "@/components/tables/MembersTable.vue";
import DropDown from "@/components/inputs/DropDown.vue";
import CustomCard from "@/components/utils/CustomCard.vue";
import MailInput from "@/components/inputs/MailInput.vue";
import UploadInput from "@/components/inputs/UploadInput.vue";
import CustomBtn from "@/components/utils/CustomBtn.vue";
export default {
  components: {
    MembersTable,
    //   CircleSpinner,
    TablePagination,
    DropDown,
    CustomCard,
    MailInput,
    UploadInput,
    CustomBtn,
  },
  data() {
    return {
      members: [],
      query: "",
      headers: [
        "#",
        "Name",
        "Invited/Joined",
        "Filled Survey",
        "Recieved/Waiting for recommendation",
        "Accepted Commute Plans",
        "Logged Trips",
        "Actions",
      ],
    };
  },
  async mounted() {
    await this.queryItems();
  },
  methods: {
    ...mapActions("members", ["queryItems", "searchItems"]),
    ...mapMutations("members", ["setPagination"]),
    async setPage(page) {
      this.setPagination({ currentPage: page });
      await this.searchItems({ query: this.query });
    },
    setRowPerPage(row) {
      this.setPagination({ rowsPerPage: parseInt(row) });
      this.queryItems();
    },
    async searchQuery() {
      this.setPagination({ currentPage: 1 });
      await this.searchItems({ query: this.query });
    },
  },
  computed: {
    ...mapGetters("members", [
      "items",
      "loading",
      "pagination",
      "totalItems",
      "totalPages",
      "currentPage",
      "rowsPerPageItems",
      "rowsPerPage",
      "joinedCount",
      "nonjoinedCount",
      "filledSurveyCount",
      "nonfilledSurveyCount",
      "acceptedPlanCount",
      "nonacceptedPlanCount",
      "recommendedCount",
      "nonrecommendedCount",
      "loggedTripsCount",
    ]),
    showingText() {
      const startCount = (this.currentPage - 1) * this.rowsPerPage + 1;
      const endCount = Math.min(
        this.currentPage * this.rowsPerPage,
        this.totalItems
      );
      return `${startCount}-${endCount}`;
    },
  },
};
</script>

<style></style>
