<template>
  <div id="app" class="min-h-screen h-full">
    <nav-bar />
    <div class="flex flex-row min-h-full">
      <side-bar />
      <div class="flex flex-col w-full min-h-full">
        <router-view />
        <custom-footer> </custom-footer>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/layouts/NavBar.vue";
import "./assets/tailwind.css";
import SideBar from "@/components/layouts/SideBar.vue";
import CustomFooter from "./components/layouts/CustomFooter.vue";

export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
    CustomFooter,
  },
};
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
