<template>
  <button
    type="button"
    class="mt-3 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
  >
    <slot name="icon"></slot>
    <slot name="text"></slot>
  </button>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
